.header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  border-bottom: 1px solid #e7e6e9;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__buttons {
    display: flex;
    gap: 8px;
  }
}

.project-loading {
  padding: 8px 12px 8px 24px;
  border-bottom: 1px solid #e7e6e9;
  .project-header {
    &__name {
      width: 250px;
      height: 35px;
      // margin-bottom: 16px;
      .loading-skeleton {
        height: 100%;
      }
    }

    &__my-tasks {
      width: 150px;
      height: 35px;
    }

    &__icon {
      cursor: unset;
      margin-right: 16px;
      width: 28px;
      height: 28px;
      .loading-skeleton {
        height: 100%;
      }
    }
    &__status {
      width: 90px;
      height: 35px;
      margin-left: 8px;
      .loading-skeleton {
        height: 100%;
      }
    }
  }

  .project-header__nav {
    margin-top: 8px;

    li {
      width: 74px;
      height: 21px;
      .loading-skeleton {
        height: 100%;
      }
    }
  }
}

.project-header {
  border-bottom: 1px solid #e7e6e9;
  background-color: #fff;
  padding: 8px 12px 8px 24px;
  font-size: 14px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;

  &__icon {
    margin-right: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  &__color-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .color-icon {
      width: 28px;
      height: 28px;
      cursor: pointer;
    }

    .row {
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      gap: 2px;
      .project-header__icon {
        margin-right: unset;
      }
    }

    &__item {
      width: 34px;
      height: 34px;

      &--selected {
        display: block;
      }

      &:hover {
        background-color: var(--color-gray--hover);
      }
    }

    .color-menu__button {
      &-container {
        position: relative;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-right: 6px;
  }

  &__nav {
    display: flex;
    gap: 16px;
    margin-top: 8px;

    &-link {
      padding: 0px 6px;
      border-radius: 6px;
      transition: all 0.1s ease-out;
      position: relative;
      &::after {
        content: "";
        background-color: var(--color-primary);
        width: 0%;
        height: 2.6px;
        position: absolute;
        bottom: -10px;
        left: 0;
        transition: width 0.15s ease-out;
      }
      &:active,
      &:hover {
        cursor: pointer;
        &::after {
          width: 100%;
        }
        color: var(--color-primary--darkest);
      }

      &--active {
        &::after {
          width: 100%;
        }
        color: var(--color-primary--darkest);
      }
    }
  }

  &__edit-container {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  &__edit-btn {
    border-radius: 6px;
    &__icon {
      rotate: 90deg;
    }
  }

  &__status-btn {
    font-size: 14px;
    padding: 6px 12px !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;

    &.active,
    &:hover {
      .icon {
        opacity: 100%;
      }
    }

    .icon {
      opacity: 0;
      rotate: 90deg;
    }
  }

  // For Project Status
  .project-status--active {
    fill: var(--project-status--active);
    // @include iconColor(var(--project-status--active));
  }
  .project-status--onTrack {
    fill: var(--project-status--onTrack);
  }
  .project-status--offTrack {
    fill: var(--project-status--offTrack);
  }
  .project-status--onHold {
    fill: var(--project-status--onHold);
  }
  .project-status--inTesting {
    fill: var(--project-status--inTesting);
  }
  .project-status--approved {
    fill: var(--project-status--approved);
  }
}
