.header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  border-bottom: 1px solid #e7e6e9;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  &__title {
    font-size: 24px;
  }
  &__buttons {
    display: flex;
    gap: 8px;
  }
}

.project-loading {
  padding: 16px 24px 12px 24px;
  .project-header__name {
    width: 200px;
    height: 24px;
    margin-bottom: 16px;

    .loading-skeleton {
      width: 100%;
      height: 100%;
    }
  }

  .project-header__nav {
    li {
      width: 74px;
    }
  }
}

.project-header {
  border-bottom: 1px solid #e7e6e9;
  background-color: #fff;
  padding: 8px 24px 12px 24px;
  font-size: 14px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  &__icon {
    margin-right: 6px;
    width: 46px;
    height: 46px;
    cursor: pointer;
  }

  .color-menu {
    display: none;
    .row {
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      gap: 2px;
      .project-header__icon {
        margin-right: unset;
      }
    }

    &__item {
      width: 34px;
      height: 34px;

      &--selected {
        display: block;
      }

      &:hover {
        background-color: var(--color-gray--hover);
      }
    }

    &--active {
      display: block;
    }
    .color-menu__button {
      &-container {
        position: relative;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-right: 6px;
  }

  &__nav {
    display: flex;
    gap: 16px;
    margin-top: 8px;

    &-link {
      padding: 2px 6px;
      border-radius: 6px;
      transition: all 0.1s ease-out;
      position: relative;
      &::after {
        content: "";
        background-color: var(--color-primary);
        width: 0%;
        height: 2.6px;
        position: absolute;
        bottom: -8px;
        left: 0;
        transition: width 0.15s ease-out;
      }
      &:active,
      &:hover {
        cursor: pointer;
        &::after {
          width: 100%;
        }
        color: var(--color-primary);
      }

      &--active {
        &::after {
          width: 100%;
        }
        color: var(--color-primary);
      }
    }
  }

  &__button {
    background-color: #fff;
    border: none;
    width: 25px;
    height: 25px;

    &-container {
      position: relative;
      display: flex;
      align-items: center;
    }

    &-icon {
      rotate: 90deg;
      border-radius: 5px;
      transition: all 0.1s ease-out;
      &:hover {
        background-color: rgb(236, 234, 234);
        cursor: pointer;
      }
      &--active {
        background-color: rgb(236, 234, 234);
      }
    }
  }

  &__menu {
    display: none;
    padding: 4px 0;
    font-size: 14px;
    width: 184px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 10;

    &--active {
      display: block;
    }
    &-item {
      display: flex;
      padding: 4px 8px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-gray--hover);
      }
      &--delete {
        color: #f03e3e;
      }
    }

    &--icon {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  }

  &__status {
    .status-button {
      font-size: 14px;
      padding: 6px 12px !important;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 4px;
      border: 1px solid transparent;
      margin-left: 8px;

      transition: 0.1s color ease-in, 0.1s background-color ease-in,
        0.1s border ease-in;

      &:hover {
        visibility: visible;
        color: #000;
        // border: 1px solid #a1a1a1;

        .icon {
          opacity: 100%;
        }
      }

      .icon {
        opacity: 0;
      }
    }

    .menu {
      left: 8px !important;
    }
  }

  // For Project Status
  .project-status--active {
    fill: var(--project-status--active);
    // @include iconColor(var(--project-status--active));
  }
  .project-status--onTrack {
    fill: var(--project-status--onTrack);
  }
  .project-status--offTrack {
    fill: var(--project-status--offTrack);
  }
  .project-status--onHold {
    fill: var(--project-status--onHold);
  }
  .project-status--inTesting {
    fill: var(--project-status--inTesting);
  }
  .project-status--approved {
    fill: var(--project-status--approved);
  }
}
