.sidebar {
  flex: 0 0 auto;
  position: relative;
  width: 242px;
  height: 100%;
  background-color: var(--color-navigation-background);
  color: var(--color-navigation-text);
  font-size: 1.4rem;
  // padding: 0 0.8rem;
  z-index: 10;

  &--minimized {
    width: 60px;
  }

  &__add {
    @include sidebar-btn;
    width: 100%;
    color: inherit;
    background-color: var(--color-navigation-background);
    border: 1px var(--color-navigation-button-hover) solid;
    font-size: 1.4rem;
    &:hover,
    &:active {
      background-color: var(--color-navigation-button-hover);
      cursor: pointer;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 8px 0 8px;
      position: relative;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }

    &-menu {
      display: none;
      padding: 4px 0;
      font-size: 14px;
      width: 184px;
      border-radius: 0.6rem;
      background-color: var(--color-navigation-background);
      border: 1px solid var(--color-border);
      position: absolute;
      top: 10px;
      left: 100%;
      z-index: 10;

      &--active {
        display: block;
      }

      &-item {
        display: flex;
        align-items: center;
        padding: 6px 16px;
        &:hover {
          cursor: pointer;
          background-color: var(--color-navigation-button-hover);
          .sidebar__add-menu-icon {
            fill: #fff;
          }
        }
      }
      &-icon {
        fill: var(--color-gray);
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 90%;
    left: 14.5px;
    width: 30px;
    background-color: var(--color-navigation-background);
    border: none;
    border-radius: 0.6rem;
    fill: var(--color-gray);
    display: flex;
    justify-content: center;

    &:hover {
      cursor: pointer;
      fill: var(--color-stroke);
      background-color: var(--color-navigation-button-hover);
    }

    // &--active {
    //   left: 14.5px;
    // }
    &-icon {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  &__hr {
    border: none;
    height: 0.1px;
    background-color: var(--color-gray);
  }

  &__logo {
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    margin-top: 1rem;
    user-select: none;
    &--dot {
      color: var(--color-green--light);
    }
  }

  &__nav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &-container {
      padding: 0.8rem 0.8rem;
      border-bottom: 1px solid var(--color-navigation-border);
    }

    &--workspace {
      padding-bottom: 20px;
    }
  }

  &__link {
    @include sidebar-btn;
    font-size: 1.4rem;
    position: relative;

    &-container {
      position: relative;
      &--minimized {
        &:hover .sidebar__tooltip {
          visibility: visible;
          scale: 100%;
        }
        .sidebar__link {
          grid-template-columns: var(--icon-size);
          span {
            display: none;
          }
        }
      }
    }

    &:hover,
    &:active {
      background-color: var(--color-navigation-button-hover);
      cursor: pointer;
    }

    &--active {
      background-color: var(--color-navigation-button-hover);
    }

    &-icon {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }

  &__workspace {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.6rem;
    height: 28px;
    margin-bottom: 5px;
    &:hover {
      background-color: var(--color-navigation-button-hover);
      cursor: pointer;
    }

    &-name {
      @include showEllipsis;
    }
    &-add {
      flex-shrink: 0;
      &-icon {
        fill: var(--color-gray);
        width: 2rem;
        height: 2rem;
        transition: all 0.1s ease-out;
        &:hover {
          fill: #f1f1f1;
        }
      }
      &--minimized {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        border-radius: 0.6rem;
        height: 28px;
        &:hover {
          background-color: var(--color-navigation-button-hover);
          cursor: pointer;
          .sidebar__workspace-add-icon {
            fill: #f1f1f1;
          }
          // Only shows tooltip when navbar is minimized
          .sidebar__tooltip {
            visibility: visible;
            scale: 100%;
          }
        }
      }
    }

    &--minimized {
      .sidebar__workspace {
        &-name {
          display: none;
        }
      }
    }
  }
  &__more-icon {
    width: 12px;
    height: 12px;
    flex: 0 0 auto;
    fill: var(--color-gray);
    transition: fill 0.1s ease-out;
    &:hover {
      fill: #f1f1f1;
    }
  }
  &__more-btn {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  &__project {
    display: flex;
    align-items: center;
    width: 226px;
    height: 28px;
    padding: 0 12px;
    border-radius: 0.6rem;
    position: relative;
    &:hover {
      background-color: var(--color-navigation-button-hover);
      cursor: pointer;
      .sidebar__more-btn {
        visibility: visible;
      }
    }
    &-name {
      @include showEllipsis;
      flex: 1 1 auto;
    }

    &--active {
      background-color: var(--color-navigation-button-hover);
      .sidebar__more-btn {
        visibility: visible;
      }
    }
  }

  &__projects-list {
    display: grid;
    gap: 5px;
    height: 100%;
    &--minimized {
      .sidebar__project {
        width: 44px;
        justify-content: center;
        &-name,
        .sidebar__more-btn {
          display: none;
        }
      }
      .sidebar__color-icon {
        margin: unset;
      }

      // Only shows tooltip when navbar is minimized
      .sidebar__project:hover .sidebar__tooltip {
        visibility: visible;
        scale: 100%;
      }
    }
  }

  &__show-more-projects {
    color: var(--color-gray);
    font-size: 1.2rem;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    height: 28px;
    &:hover {
      color: #f1f1f1;
      cursor: pointer;
      text-decoration: underline;
    }

    &--minimized {
      display: none;
    }
  }

  &__color-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    flex: 0 0 auto;

    &--classic {
      fill: var(--color-customization-classic-background);
    }
    &--maroon {
      fill: var(--color-customization-maroon-background);
    }
    &--orange-yellow {
      fill: var(--color-customization-orange-yellow-background);
    }
    &--yellow-green {
      fill: var(--color-customization-yellow-green-background);
    }
    &--forest {
      fill: var(--color-customization-forest-background);
    }
    &--blue-green {
      fill: var(--color-customization-blue-green-background);
    }
    &--aqua {
      fill: var(--color-customization-aqua-background);
    }
    &--blue {
      fill: var(--color-customization-blue-background);
    }
    &--pink-purple {
      fill: var(--color-customization-pink-purple-background);
    }
    &--purple {
      fill: var(--color-customization-purple-background);
    }
    &--pink {
      fill: var(--color-customization-pink-background);
    }
    &--oat {
      fill: var(--color-customization-oat-background);
    }
  }

  &__no-projects {
    color: var(--color-gray);
    font-size: 1.2rem;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    height: 28px;

    &--minimized {
      display: none;
    }
  }

  &__signout {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    &-icon {
      display: inline-block;
    }
  }

  &__tooltip {
    display: inline;
    visibility: hidden;
    max-width: 180px;
    display: flex;
    background-color: var(--color-navigation-background);
    padding: 4px 10px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 140%;
    z-index: 1;
    white-space: nowrap;
    transition: all 0.1s;
    scale: 0%;
    span {
      @include showEllipsis;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--color-navigation-background) transparent
        transparent;
    }
  }
}
