.sidebar {
  flex: 0 0 auto;
  position: relative;
  width: 220px;
  height: 100%;
  background-color: $color-gray--dark;
  color: $color-gray;
  font-size: 1.6rem;
  // padding: 0 0.8rem;
  z-index: 100;

  &--minimized {
    width: 60px;
  }

  &__add {
    width: 100%;
    color: inherit;
    @include sidebar-btn;
    background-color: $color-gray--dark;
    color: #fff;
    border: 1px $color-gray--background solid;

    &:hover,
    &:active {
      background-color: $color-gray--background;
      color: #fff;
      cursor: pointer;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      padding: 0.8rem;
    }

    &-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__toggle {
    rotate: 180deg;
    position: absolute;
    top: 88%;
    left: 208px;
    width: 25px;
    background-color: $color-gray--dark;
    border-radius: 50%;
    border: 2px solid $color-stroke;
    fill: $color-gray;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      fill: $color-stroke;
    }

    &--active {
      transform: rotate(-180deg);
      left: 47px;
    }
  }

  &__hr {
    border: none;
    height: 0.1px;
    background-color: $color-gray;
  }

  &__logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    margin-top: 1rem;
    &--dot {
      color: $color-green--light;
    }
  }

  &__nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &-container {
      padding: 0.8rem 0.8rem;
    }
  }

  &__link {
    @include sidebar-btn;

    &:hover,
    &:active {
      background-color: $color-gray--background;
      color: #fff;
      cursor: pointer;
    }

    &-icon {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__signout {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    &-icon {
      display: inline-block;
    }
  }
}
