.nav {
  position: relative;
  // position: sticky;
  // top: 0;
  // left: 0;
  width: 220px;
  height: 100%;
  background-color: $color-gray--dark;
  color: $color-gray;
  font-size: 1.6rem;
  // padding: 0 0.8rem;

  &--minimized {
    width: 60px;
  }

  &__toggle {
    position: absolute;
    top: 400px;
    left: 208px;
    width: 25px;
    background-color: darken($color-gray--dark, 15);
    border-radius: 50%;
    border: none;
    fill: $color-gray;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      fill: $color-stroke;
    }

    &--active {
      transform: rotate(-180deg);
      left: 47px;
    }
  }

  &__hr {
    border: none;
    height: 0.1px;
    background-color: $color-gray;
  }

  &__logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    margin-top: 1rem;
    &--dot {
      color: $color-green--light;
    }
  }

  &__project {
    display: grid;
    align-items: center;
    grid-template-columns: auto 18px;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    background-color: $color-gray--background;
    transition: all 0.1s;
    &-container {
      margin: 1rem 0.8rem;
    }
    &-info {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    &-name {
      font-size: 1.8rem;
      font-weight: bolder;
      color: #fff;
    }
    &-sub {
      font-size: 1.4rem;
    }

    &:hover {
      transform: translateY(-0.5px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.2);
      cursor: pointer;
      .nav__dropdown-icon {
        fill: lighten($color: $color-gray, $amount: 20);
      }
      .nav__project-sub {
        color: lighten($color: $color-gray, $amount: 20);
      }
    }
  }

  &__dropdown {
    margin: 0 auto;
    &-icon {
      fill: $color-gray;
      width: 1.4rem;
    }
  }

  &__list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &-container {
      padding: 0.8rem 0.8rem;
    }
  }

  &__link {
    display: grid;
    grid-template-columns: $icon-size auto;
    gap: 1rem;
    text-align: left;
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.6rem;
    align-items: center;
    height: 37px;

    &:hover,
    &:active {
      background-color: $color-gray--background;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;
    }

    // &-container {
    //   padding: 0 0.8rem;
    // }

    &-icon {
      width: $icon-size;
      height: $icon-size;
    }

    &--minimized {
      span {
        display: none;
      }
      // gap: 0;
    }
  }

  &__signout {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    &-icon {
      display: inline-block;
    }
  }
}
