.button {
  background-color: #d1d5db;
  color: #000;
  font-size: 1.4rem;
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;

  &,
  &:link,
  &:visited {
    position: relative;
    border: none;
    cursor: pointer;
  }

  &:hover {
    background-color: #9ca3af;
  }

  // &:active,
  // &:focus {
  //   outline: none;
  //   transform: translateY(-0.1px);
  //   box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  // }

  &--blue {
    background-color: $color-skyblue;
    color: #fff;
    &:hover {
      background-color: lighten($color-skyblue, 10);
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

// .btn-text {
//   &:link,
//   &:visited {
//     font-size: $default-font-size;
//     color: $color-primary;
//     display: inline-block;
//     text-decoration: none;
//     border-bottom: 1px solid $color-primary;
//     padding: 3px;
//     transition: all 0.2s;
//   }

//   &:hover {
//     background-color: $color-primary;
//     color: $color-white;
//     box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
//     transform: translateY(-2px);
//   }

//   &:active {
//     box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
//     transform: translateY(0);
//   }
// }
