.button {
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 6px;
  background-color: #d7d1e0;
  color: #403153;
  padding: 4px 24px;

  &:hover {
    background-color: #cac1d5;
  }

  &,
  &:link,
  &:visited {
    position: relative;
    border: none;
    cursor: pointer;
  }

  // &:active,
  // &:focus {
  //   outline: none;
  //   transform: translateY(-0.1px);
  //   box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  // }

  &--blue {
    background-color: var(--color-skyblue);
    color: #fff;
    &:hover {
      background-color: darken(rgb(55, 135, 232), 5);
    }
  }

  &--disabled {
    background-color: red;
    color: #000;
    &:hover {
      background-color: #e3e4e6;
      cursor: not-allowed;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.menu-button {
  &-container {
    position: relative;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray--hover);
  }

  .button {
    all: unset !important;
    // background-color: unset;
    // border: 1px solid var(--color-border);
    // padding: 4px 8px;
  }

  // Position the menu relative to the button
}

.menu {
  min-width: 200px;
  max-width: 350px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  border: 1px solid var(--color-border);
  padding: 4px 0;
  z-index: 99999;
  color: #212529;
  font-weight: 500;
  top: 100%;
  left: 0;

  &-container {
    position: relative;
  }

  .item {
    font-size: 14px;
    display: flex;
    padding: 4px 12px;
    &:hover {
      cursor: pointer;
      background-color: var(--color-gray--hover);
    }

    &__name {
      font-size: 14px;
      display: flex;
    }
    &__email {
      font-size: 14px;
    }
  }

  ul {
    li {
      display: flex;
      padding: 4px 16px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-gray--hover);
      }
    }
  }
}

.icon {
  width: 18px;
  height: 18px;
  fill: var(--color-gray);
  display: inline-block;
}

.no-data {
  font-size: 14px;
  h1 {
    font-size: 20px;
  }
  &__button {
    margin-top: 10px;
  }
}

.avatar {
  width: 180px;
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 8px;
  &:hover {
    background-color: var(--color-gray--hover);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 6px;
    background-color: var(--color-primary--light);
    color: white;
  }

  &__name {
    font-size: 14px;
    @include showEllipsis;
  }
}

.toast {
  font-size: 14px !important;
  background-color: var(--color-navigation-background) !important;
  &__name {
    color: #5a8eef;
  }
}

.new-section {
  display: flex;
  align-items: center;
  padding: 6px 5px;
  margin-left: 24px;
  border-radius: 6px;
  font-weight: 600;
  color: var(--color-gray);
  fill: var(--color-gray);
  transition: all 0.1s ease-in;
  &:hover {
    cursor: pointer;
    background-color: rgb(236, 234, 234);
    color: #000;
    fill: #000;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}

.section {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 50px;
  width: 400px;
  user-select: none;

  &-container {
    width: 100%;
  }

  &__tasks {
    margin-bottom: 4px;
  }

  &:hover {
    .section__drag,
    .section__button {
      visibility: visible;
    }
  }

  &__drag {
    flex: 0 0 20px;
    align-self: center;
    visibility: hidden;
    fill: #000;
    padding: 6px 4px 4px 4px;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }

    &-icon {
      width: 14px;
      height: 14px;
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 6px;

    &.section__add,
    &.section__more {
      visibility: hidden;
    }

    &:hover {
      background-color: rgb(236, 234, 234);
      cursor: pointer;
    }
  }
  &__toggle {
    .section__icon {
      transition: rotate 0.1s;
    }
    &--open {
      .section__icon {
        rotate: 90deg;
      }
    }
  }
  &__name {
    margin-right: 2px;
    &-input {
      width: 240px;
      font-size: 16px;
      font-weight: 600;
      border: 2px solid transparent;
      border-radius: 8px;
      padding-left: 2px;
      &:focus {
        padding: 6px;
        padding-left: 2px;
        border: 2px solid var(--color-skyblue);
      }
    }
  }
  &__input-placeholder {
    @include showEllipsis;
    font-size: 16px;
    width: 240px;
    font-weight: 600;
    padding-left: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  &__add {
  }
  &__more {
    &-container {
      position: relative;
    }
    &-menu {
      &--active {
        display: block;
      }
      display: none;
      background-color: #fff;
      padding: 4px 0;
      font-size: 14px;
      width: 180px;
      border-radius: 6px;
      border: 1px solid var(--color-border);
      position: absolute;
      top: 105%;
      left: 0;
      z-index: 10;

      &--active {
        display: block;
      }

      &-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 6px 14px;

        &:hover {
          cursor: pointer;
          background-color: var(--color-gray--hover);
        }
        &--delete {
          color: #f80000;
          fill: #f80000;
          &.disabled:disabled {
            &:hover {
              background-color: inherit;
            }
            fill: gray;
            color: gray;
            cursor: not-allowed;
          }
        }

        .section__icon {
          flex-shrink: 0;
          margin-right: 10px;
        }
      }
    }
  }
}
