.button {
  background-color: #d1d5db;
  color: #000;
  font-size: 1.4rem;
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;

  &,
  &:link,
  &:visited {
    position: relative;
    border: none;
    cursor: pointer;
  }

  &:hover {
    background-color: darken(#d1d5db, 5);
  }

  // &:active,
  // &:focus {
  //   outline: none;
  //   transform: translateY(-0.1px);
  //   box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  // }

  &--blue {
    background-color: var(--color-skyblue);
    color: #fff;
    &:hover {
      background-color: darken(rgb(55, 135, 232), 5);
    }
  }

  &--disabled {
    background-color: #d1d5db;
    color: #000;
    &:hover {
      background-color: #e3e4e6;
      cursor: not-allowed;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-gray);
  display: inline-block;
}

.no-data {
  font-size: 1.4rem;
  h1 {
    font-size: 2rem;
  }
  &__button {
    margin-top: 0.6rem;
  }
}

.avatar {
  width: 180px;
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 8px;
  &:hover {
    background-color: var(--color-gray--hover);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 6px;
    background-color: var(--color-green--light);
  }

  &__name {
    font-size: 1.4rem;
    @include showEllipsis;
  }
}

.toast {
  background-color: var(--color-navigation-background) !important;
  &__name {
    color: #5a8eef;
  }
}

.section {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 50px;
  width: 400px;
  user-select: none;

  &-container {
    width: 100%;
  }

  &:hover {
    .section__drag,
    .section__button {
      visibility: visible;
    }
  }

  &__drag {
    display: flex;
    align-items: center;
    height: 100%;
    visibility: hidden;
    margin-right: 5px;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }

    &-icon {
      width: 14px;
      height: 14px;
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 6px;

    &.section__add,
    &.section__more {
      visibility: hidden;
    }

    &:hover {
      background-color: rgb(236, 234, 234);
      cursor: pointer;
    }
  }
  &__toggle {
    .section__icon {
      transition: rotate 0.1s;
    }
    &--open {
      .section__icon {
        rotate: 90deg;
      }
    }
  }
  &__name {
    margin-right: 2px;
    &-input {
      width: 240px;
      font-size: 1.6rem;
      font-weight: 600;
      border: 2px solid transparent;
      border-radius: 8px;
      padding-left: 6px;
      &:focus {
        padding: 6px;
        border: 2px solid var(--color-skyblue);
      }
    }
  }
  &__input-placeholder {
    @include showEllipsis;
    width: 240px;
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 8px;
    &:hover {
      cursor: pointer;
    }
  }
  &__add {
  }
  &__more {
    &-container {
      position: relative;
    }
    &-menu {
      &--active {
        display: block;
      }
      display: none;
      background-color: #fff;
      padding: 4px 0;
      font-size: 14px;
      width: 180px;
      border-radius: 0.6rem;
      border: 1px solid var(--color-border);
      position: absolute;
      top: 105%;
      left: 0;
      z-index: 10;

      &--active {
        display: block;
      }

      &-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 6px 14px;

        &:hover {
          cursor: pointer;
          background-color: var(--color-gray--hover);
        }
        &--delete {
          color: #f80000;
          fill: #f80000;
          &.disabled:disabled {
            &:hover {
              background-color: inherit;
            }
            fill: gray;
            color: gray;
            cursor: not-allowed;
          }
        }

        .section__icon {
          flex-shrink: 0;
          margin-right: 10px;
        }
      }
    }
  }
}
