.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;

  .button--disabled {
    background-color: #d6d6d6;
    border: 1px solid var(--color-border);
    color: #495057;

    &:hover {
      background-color: #d6d6d6;
      border: 1px solid var(--color-border);
      color: #8e9194;
    }
  }

  &__submit {
    padding: 8px 24px;

    &--disabled {
      background-color: #f1f3f5;
      color: #868e96;

      &:hover {
        background-color: #f1f3f5;
        color: #868e96;
        cursor: not-allowed;
      }
    }
  }

  &__input {
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 5px;
    border: 1px solid var(--color-border);

    &::placeholder {
      color: #919394;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }

    &--label {
      margin-bottom: 4px;
    }

    &--textarea {
      resize: none;
      outline: none;
      height: 100px;
    }
  }
}

.new-project {
  &__date {
    &--empty {
      width: 160px;
      padding: 4px 10px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-gray--hover);
      }
    }

    &-icon {
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      border: 1px dashed var(--color-form-border);
      border-radius: 50%;
      margin-right: 8px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .form__submit {
  }
}

.date-input {
  margin-top: 10px;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 5px;
  border: 2px solid var(--color-form-border);

  &--from-to {
    display: flex;
    gap: 16px;
    align-items: center;

    span {
      margin-top: 10px;
    }
  }
}

.priority {
  margin-bottom: 20px;
  &__list {
    display: flex;
    gap: 18px;
    justify-content: space-between;
  }

  &__checkbox {
    input {
      margin-right: 4px;
    }
  }

  &__item {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    padding: 6px 0;
    border: 1px solid var(--color-form-border);
    border-radius: 5px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-primary);
      border-color: var(--color-primary--light);
      color: #fff;
    }

    &--active {
      background-color: var(--color-primary--light);
      border-color: var(--color-primary--light);
      color: #fff;
    }
  }
}

.new-task {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: var(--color-navigation-background);
  color: var(--color-navigation-text);
  border: 1px solid var(--color-navigation-border);
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 100;
  user-select: none;

  &__header {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    border-bottom: 1px solid var(--color-navigation-border);
    color: var(--color-gray-weak);
  }
  &__close {
    padding: 6px;
    fill: var(--color-gray-weak);
    border-radius: 4px;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: var(--color-navigation-button-hover);
      cursor: pointer;
      fill: var(--color-navigation-text);
    }
    &-icon {
      width: 14px;
      height: 14px;
    }
  }

  &__name {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-navigation-text);
    margin-top: 14px;
    margin-bottom: 8px;
    background-color: var(--color-navigation-background);
    border: none;
    padding: 0 24px;
    &::placeholder {
      color: var(--color-gray-weak);
    }
  }

  &__assignee-project {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    color: var(--color-gray-weak);
    font-size: 14px;
    padding: 4px 24px;

    & #for {
      margin-right: 6px;
    }
    & #in {
      margin: 0 6px;
    }
  }

  &__data-selected {
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    color: var(--color-navigation-text);
    background-color: #424244;
    transition: background-color 0.1s ease-in;
    border: none;
    border-radius: 14px;
    padding: 0 4px 0 8px;
    &:hover {
      color: var(--color-navigation-text);
      cursor: pointer;
    }

    .data-selected__close {
      padding: 4px;
      margin-left: 4px;
      fill: var(--color-navigation-text);
      border-radius: 100%;
      transition: all 0.1s ease-in;
      &:hover {
        background-color: #ffff;
        fill: #424244;
      }
      svg {
        width: 7px;
        height: 7px;
      }
    }
  }

  &__assignee-btn {
    color: var(--color-gray-weak);
    background-color: inherit;
    transition: background-color 0.1s ease-in;
    transition: color 0.1s ease-in;
    border: 1px var(--color-gray-weak) dashed;
    border-radius: 14px;
    padding: 0 16px;
    &:hover {
      color: var(--color-navigation-text);
      cursor: pointer;
      background-color: var(--color-navigation-button-hover);
    }

    &-container {
      position: relative;

      // Popup menu
      .assignee-menu {
        display: none;
        padding: 4px 0;
        font-size: 14px;
        min-width: 325px;
        border-radius: 6px;
        background-color: var(--color-navigation-background);
        border: 1px solid var(--color-navigation-border);
        position: absolute;
        top: 105%;
        right: 0;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

        &--active {
          display: block;
        }

        &__item {
          color: var(--color-navigation-text);
          display: flex;
          align-items: center;
          padding: 6px 16px;
          &:hover {
            cursor: pointer;
            background-color: var(--color-navigation-button-hover);
            .new-task__assignee-btn:hover {
              all: unset;
            }
          }
        }

        &__skeleton {
          padding: 6px 16px;
        }
      }
    }
  }

  &__section-select-container {
    position: relative;

    .section-menu {
      display: none;
      padding: 4px 0;
      font-size: 14px;
      min-width: 180px;
      max-width: 250px;
      max-height: 200px;
      overflow-y: auto;
      border-radius: 6px;
      background-color: var(--color-navigation-background);
      border: 1px solid var(--color-navigation-border);
      position: absolute;
      top: 105%;
      left: 0;
      z-index: 1000;

      &--active {
        display: block;
      }

      &__item {
        color: var(--color-navigation-text);
        display: flex;
        align-items: center;
        padding: 6px 16px;
        &:hover {
          cursor: pointer;
          background-color: var(--color-navigation-button-hover);
          .new-task__assignee-btn:hover {
            all: unset;
          }
        }
      }
    }
  }
  &__section-select {
    margin-left: 4px;
    max-width: 90px;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    color: var(--color-gray-weak);
    background-color: #424244;
    transition: background-color 0.1s ease-out;
    border: none;
    border-radius: 6px;
    padding: 0 4px 0 4px;
    &:hover {
      background-color: #555557;
      color: var(--color-navigation-text);
      cursor: pointer;
      .section-select__icon {
        fill: var(--color-navigation-text);
      }
    }
    span {
      @include showEllipsis;
    }

    .section-select__icon {
      flex-shrink: 0;
      fill: var(--color-gray-weak);
      margin-left: 2px;
      rotate: 90deg;
      width: 14px;
      height: 14px;
    }
  }

  &__project-btn {
    color: var(--color-gray-weak);
    background-color: inherit;
    transition: background-color 0.1s ease-in;
    transition: color 0.1s ease-in;
    border: 1px var(--color-gray-weak) dashed;
    border-radius: 14px;
    padding: 0 16px;
    &:hover {
      color: var(--color-navigation-text);
      cursor: pointer;
      background-color: var(--color-navigation-button-hover);
    }

    &-container {
      position: relative;
      .project-menu {
        display: none;
        padding: 4px 0;
        font-size: 14px;
        min-width: 325px;
        border-radius: 6px;
        background-color: var(--color-navigation-background);
        border: 1px solid var(--color-navigation-border);
        position: absolute;
        top: 105%;
        right: 0;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

        &--active {
          display: block;
        }

        &__item {
          color: var(--color-navigation-text);
          display: flex;
          align-items: center;
          padding: 6px 16px;
          &:hover {
            cursor: pointer;
            background-color: var(--color-navigation-button-hover);
            .new-task__assignee-btn:hover {
              all: unset;
            }
          }
        }

        &__skeleton {
          padding: 6px 16px;
        }
      }
    }
  }

  &__priority {
    position: relative;
    padding: 8px 24px;
    font-size: 14px;
    color: var(--color-gray-weak);

    button {
      transition: all 0.1s ease-in;
      &:hover {
        color: var(--color-navigation-text);
        cursor: pointer;
        background-color: var(--color-navigation-button-hover);
      }
      border: 1px solid var(--color-navigation-border);
      background-color: inherit;
      color: inherit;
      padding: 2px 16px;
      border-radius: 14px;

      span {
        color: var(--color-navigation-text);
      }
    }
  }

  .priority {
    &__menu {
      display: none;
      padding: 4px 0;
      font-size: 14px;
      width: 81px;
      border-radius: 6px;
      background-color: var(--color-navigation-background);
      border: 1px solid var(--color-navigation-border);
      position: absolute;
      top: 83%;
      left: 25px;

      &--active {
        display: block;
      }
    }

    &__choice {
      color: var(--color-navigation-text);
      display: flex;
      align-items: center;
      padding: 2px 12px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-navigation-button-hover);
        .new-task__assignee-btn:hover {
          all: unset;
        }
      }
    }
  }

  &__description {
    padding: 4px 24px 0 24px;
    textarea {
      &::placeholder {
        color: var(--color-gray-weak);
      }
      font-size: 14px;
      background-color: var(--color-navigation-background);
      border: none;
      color: var(--color-navigation-text);
      width: 100%;
      resize: none;
      min-height: 250px;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #7b7b7b;
        border-radius: 0px;
      }
    }
  }

  &__footer {
    border-top: 1px solid var(--color-navigation-border);
    padding: 20px 24px;
  }
  &__submit {
    padding: 8px 10px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgb(55, 135, 232);
    color: #fff;
    transition: background-color 0.1s ease-in;
    border: 1px solid transparent;
    &:hover {
      cursor: pointer;
      background-color: rgb(50, 123, 212);
    }
    &--disabled {
      color: #7a7a7a;
      // padding: 8px 10px;
      background-color: var(--color-navigation-background);
      border: 1px solid var(--color-navigation-border);
      &:hover {
        cursor: unset;
        background-color: unset;
      }
    }
  }
}

.task-detail {
  label {
    font-size: 14px;
  }
  .form {
    gap: 0;
    .name {
      margin-top: 12px;
      font-size: 20px;

      &__input {
        font-size: 18px;
        padding: 4px 8px;
        border-radius: 8px;
        border: 1px solid transparent;

        &:focus {
          border: 1px solid var(--color-border);
        }
        &-placeholder {
          font-weight: 600;
          padding: 0 8px;
        }
      }
    }

    .section {
      display: flex;
      gap: 8px;
      width: 100%;
      label {
        flex-basis: 120px;
      }

      // .menu-button {
      //   flex: 1;
      // }
    }

    .data-selected {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      border-radius: 8px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-gray--hover);
      }
      & * {
        cursor: pointer;
      }

      &__close {
        margin: 0 8px;
        width: 12px;
        height: 12px;
      }

      // &--projects {
      //   .menu {
      //     min-width: 200px;
      //     max-width: 350px;
      //     background-color: #fff;
      //     border-radius: 6px;
      //     position: absolute;
      //     top: 105%;
      //     border: 1px solid var(--color-border);
      //     padding: 4px 0;
      //     z-index: 99999;
      //     color: #212529;
      //     font-weight: 500;
      //   }
      // }
    }
  }

  .assignee {
    display: flex;

    .menu {
      min-width: 300px;
      .item {
        display: flex;
        gap: 8px;

        &__email {
          color: #343a40;
        }
      }
    }

    .task__assignee-btn {
      padding: 6px 12px;
      border-radius: 6px;
      .assignee-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #868e96;

        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 8px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
