.loading-skeleton {
  &--dark {
    background-color: #3d3d41;
    background-image: linear-gradient(
      90deg,
      rgba(#868691, 0),
      rgba(#868691, 0.5),
      rgba(#868691, 0)
    );
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1.2s ease infinite;
  }
  width: 100%;
  height: 18px;
  border-radius: 4px;
  background-color: #e5e7e7;
  background-image: linear-gradient(
    90deg,
    rgba(#e43333, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1.6s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.loading-spinner,
.loading-spinner::after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.loading-spinner {
  border-top: 3px solid #dbdbdb;
  border-right: 3px solid #dbdbdb;
  border-bottom: 3px solid #dbdbdb;
  border-left: 3px solid var(--color-skyblue);
  position: relative;
  transform: translateZ(0);
  animation-name: loading-spinner-animation;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
