.loading-spinner,
.loading-spinner::after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.loading-spinner {
  border-top: 3px solid #dbdbdb;
  border-right: 3px solid #dbdbdb;
  border-bottom: 3px solid #dbdbdb;
  border-left: 3px solid var(--color-skyblue);
  position: relative;
  transform: translateZ(0);
  animation-name: loading-spinner-animation;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
