@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/* 
    0px - 600px: Phones
    600px - 900px: Tablets Portrait
    900px - 1200px: Tablets Landscape 
    [1200px - 1800px] is where our normal styles apply 
    1800px+ : Large Desktops

    $breakpoint has 4 options:
    -phone
    -tablet-portrait
    -tablet-landscape
    -large-desktop

    1em = 16px for media queries
*/

@mixin respond($breakpoint) {
  // 600px
  @if $breakpoint == mobile {
    @media (min-width: 0rem) {
      @content;
    }
  }
  // 768px
  @if $breakpoint == tablet-portrait {
    @media (max-width: 48rem) {
      @content;
    }
  }
  // 960px
  @if $breakpoint == tablet-landscape {
    @media (max-width: 60rem) {
      @content;
    }
  }
  // 1300px
  @if $breakpoint == above-desktop {
    @media (min-width: 81.25em) {
      @content;
    }
  }
}

@mixin sidebar-btn {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  text-align: left;
  font-size: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  align-items: center;
  height: 34px;
  border: none;

  &--minimized {
    span {
      display: none;
    }
  }
}

@mixin showEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin iconColor($color) {
  fill: $color;
}

// Media breakpoitns
// Mobile
@media only screen and (min-width: 0em) {
}
// Tablet
@media only screen and (min-width: 48rem) {
}
// Desktop
@media only screen and (min-width: 64rem) {
}
