// COLORS
:root {
  --color-primary: #938ce1;
  --color-primary--dark: hsl(245, 52%, 66%);
  --color-primary--darkest: hsl(245, 23%, 43%);
  --color-primary--light: #9e98e4;
  --color-primary--hover: #847ecb;
  --color-primary--lightest: #d7d1e0;
  --color-primary--lightest-hover: #cac1d5;
  --color-green--light: #6ea67a;
  --color-green--dark: #588562;

  --color-text: #000;
  --color-navigation-text: #f1f1f1;
  --color-dark-background: #252525;
  --color-dark-button-hover: #333333;
  --color-dark-border: #404040;

  --color-sketch-background: #121212;
  --color-sketch-background-hover: #282828;

  --color-gray-100: #e7e7e8;
  --color-gray-200: #e4e4e4;
  --color-gray-400: #a2a0a2;
  --color-gray-500: #87868b;
  --color-gray-700: #6d6c70;
  --color-gray-900: #2b2b30;

  // Todo: Replace all that contain these names
  --color-gray: #87868b;
  --color-gray-weak: #a2a0a2;
  --color-stroke: #e9edf1;
  --color-border: #bfbfbf;
  --color-gray--hover: #f8f8f8;
  --color-gray--hover-2: #e4e4e4;
  --color-gray--active: #c7c7c7;

  --color-github: #333333;
  --color-github-hover: #111111;
  --color-skyblue: #3787e8;

  --color-customization-classic-background: #1e1f21;
  --color-customization-maroon-background: #5b0707;
  --color-customization-orange-yellow-background: #e2a039;
  --color-customization-yellow-green-background: #aecf55;
  --color-customization-forest-background: #285b52;
  --color-customization-blue-green-background: #36b8b1;
  --color-customization-aqua-background: #a9dcd9;
  --color-customization-blue-background: #4573d2;
  --color-customization-purple-background: #938ce1;
  --color-customization-purple-background--dark: hsl(245, 52%, 66%);
  --color-customization-pink-purple-background: #ad7cc4;
  --color-customization-pink-background: #f6a0a3;
  --color-customization-oat-background: #bfbcbc;

  --color-board: #252525;
  --color-board-task: hsl(240, 13%, 18%);
  --color-board-task: hsl(240, 0%, 20%);
  --color-board-task--hover: hsl(240, 0%, 30%);
  --color-board-text: #b5c0cc;

  --color-red-text: #d32014;
  --color-red-button: #db5c52;
  --color-red-button--hover: #b44b44;

  --project-status--active: #08aeea;
  --project-status--onTrack: #74cb80;
  --project-status--offTrack: #f56b62;
  --project-status--onHold: #f6a96d;
  --project-status--inTesting: #fbc11e;
  --project-status--approved: #74cb80;

  /* 
    Brand color: 
    #9775fa
    #748ffc
  */

  --icon-size: 18px;
}
