/*
Naming convention
$[attribute]-[name]--[modifier]
*/

// COLORS
:root {
  --color-primary: #322641;
  --color-primary--light: #6c528d;
  --color-primary--dark: #312540;
  --color-green--light: #6ea67a;
  --color-green--dark: #358658;

  --color-github: #333333;
  --color-github--hover: #111111;
  --color-skyblue: #3787e8;
  --color-gray: #87868b;
  --color-dark-gray: #4d4c4f;
  --color-gray--light: #bbbcbd;
  --color-gray--dark: #2b2b30;
  --color-gray--background: #3e3f44;
  --color-gray--main: #2b2b30;
  --color-orange: #f2a84c;
  --color-stroke: #e9edf1;
  --color-border: #bfbfbf;
  --color-gray--hover: #f0f0f0;

  --color-customization-classic-background: #1e1f21;
  --color-customization-maroon-background: #5b073a;
  --color-customization-orange-yellow-background: #e2a039;
  --color-customization-yellow-green-background: #aecf55;
  --color-customization-forest-background: #285b52;
  --color-customization-blue-green-background: #36b8b1;
  --color-customization-aqua-background: #a9dcd9;
  --color-customization-blue-background: #4573d2;
  --color-customization-purple-background: #938ce1;
  --color-customization-pink-purple-background: #ad7cc4;
  --color-customization-pink-background: #f6a0a3;
  --color-customization-oat-background: #e0dedc;

  --default-font-size: 1.6rem;
  --icon-size: 1.8rem;

  --page-padding: 2.5rem;
}

// FONT
$default-font-size: 1.6rem;

$icon-size: 2rem;
