// COLORS
:root {
  --color-primary: #6b518a;
  --color-primary--dark: #5a3e7d;
  --color-primary--light: #7b6597;
  --color-green--light: #6ea67a;
  --color-green--dark: #588562;

  --color-text: #000;
  --color-navigation-text: #f1f1f1;
  --color-navigation-background: #2b2b30;
  --color-navigation-button-hover: #3e3f44;
  --color-navigation-border: #4d4c4f;

  --color-github: #333333;
  --color-github-hover: #111111;
  --color-skyblue: #3787e8;
  --color-gray: #87868b;
  --color-gray-weak: #a2a0a2;
  --color-orange: #f2a84c;
  --color-stroke: #e9edf1;
  --color-border: #bfbfbf;
  --color-table-border: #edeae9;
  --color-gray--hover: #f8f8f8;
  --color-gray--active: #e8e8e8;
  --color-form-border: #bbbcbd;

  --color-customization-classic-background: #1e1f21;
  --color-customization-maroon-background: #5b073a;
  --color-customization-orange-yellow-background: #e2a039;
  --color-customization-yellow-green-background: #aecf55;
  --color-customization-forest-background: #285b52;
  --color-customization-blue-green-background: #36b8b1;
  --color-customization-aqua-background: #a9dcd9;
  --color-customization-blue-background: #4573d2;
  --color-customization-purple-background: #938ce1;
  --color-customization-pink-purple-background: #ad7cc4;
  --color-customization-pink-background: #f6a0a3;
  --color-customization-oat-background: #e0dedc;

  --icon-size: 18px;
  --task-left-padding: 30px;
}
