.project-page {
  //! Causes overflow
  // height: 100%;
}

// .projects {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1.6rem;
//   overflow-y: auto;
// }

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 0.8rem;
  border: 1px solid var(--color-stroke);
  border-left: 4px solid rgb(194, 84, 84);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &__name {
    font-weight: 700;
    &:hover {
      text-decoration: underline var(--color-gray);
    }
  }
}
