.sketch-card {
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  height: 57px;
  display: flex;
  align-items: center;
  // user-select: none;

  cursor: pointer;

  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: var(--color-gray--hover);
  }

  // .name {
  // }
  // .modified {
  // }

  &__author {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__author-icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--color-primary--dark) !important;
    color: var(--color-navigation-text);
  }

  &__author-image {
  }
  &__author-name {
    min-width: 120px;
  }

  .name {
    flex-basis: 460px;
  }

  .edited,
  .created,
  &__author {
    flex-basis: 200px;
  }

  &__edit {
    margin-left: auto;

    .menu {
      right: 0px;
      left: unset;
    }
  }

  &__more-btn {
    &-container {
      width: 32px;
      height: 32px;
      padding: 4px;
      border-radius: 4px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-button {
        all: unset;
      }

      &:hover,
      &.active {
        background-color: var(--color-gray--hover-2);
      }

      .menu {
        min-width: 150px;

        .item--delete {
          color: var(--color-red-text);
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .sketch-card__author-name {
    display: none;
  }
}

.sketches {
  margin-top: 24px;
  display: grid;
  gap: 4px;

  &__header {
    display: flex;
    align-items: center;
    color: #707070;

    .name {
      flex-basis: 472px;
    }

    .edited,
    .created,
    .author {
      flex-basis: 200px;
    }
  }
}

.new-sketch-button {
  cursor: pointer;
  width: 268px;
  height: 70px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--color-border);
  border-radius: 6px;

  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: var(--color-gray--hover);
  }

  .text {
    text-align: left;
    &__title {
      font-size: 16px;
      font-weight: 600;
    }
    &__sub-title {
      font-size: 12px;
      color: #606060;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.json-btn {
  background-color: #4f4d6f;
  padding: 8px 12px;
  position: absolute;
  top: 16px;
  left: 64px;
  z-index: 5;
  color: #bfb1ff;

  &:hover {
    background-color: #3f3d5f;
  }
}

.no-sketches {
  text-align: center;
  margin-top: 32px;

  p {
    font-size: 14px;
    color: #a0a0a0;
  }

  .button {
    padding: 4px 16px;
    margin-top: 8px;
  }
}

.more-icon {
  fill: #000;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  transition: fill 0.1s ease-out;
}
