.sketch-card {
  padding: 0 8px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  height: 57px;
  display: grid;
  align-items: center;
  grid-template-columns: 625px 320px auto;
  user-select: none;

  cursor: pointer;

  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: var(--color-gray--hover);
  }

  // .name {
  // }
  // .modified {
  // }

  &__edit {
    justify-self: end;
    margin-right: 4px;
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__user-icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--color-primary--dark) !important;
    color: var(--color-navigation-text);
  }
  &__user-name {
    min-width: 120px;
  }

  .name {
    flex-basis: 625px;
  }
  .modified {
    flex-basis: 320px;
  }
}

.sketch-more-btn {
  justify-self: flex-end;
  .menu {
    left: unset;
    right: 0 !important;
  }
}

.sketches {
  margin-top: 24px;
  display: grid;
  gap: 4px;

  &__header {
    display: flex;
    align-items: center;

    .name {
      flex-basis: 633px;
    }
    .modified {
      flex-basis: 320px;
    }
    .assignee {
      flex-basis: 148px;
    }
  }
}

.new-sketch-button {
  cursor: pointer;
  width: 268px;
  height: 70px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--color-border);
  border-radius: 6px;

  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: var(--color-gray--hover);
  }

  .text {
    text-align: left;
    &__title {
      font-size: 16px;
      font-weight: 600;
    }
    &__sub-title {
      font-size: 12px;
      color: #606060;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.json-btn {
  background-color: #4f4d6f;
  padding: 8px 12px;
  position: absolute;
  top: 16px;
  left: 64px;
  z-index: 5;
  color: #bfb1ff;

  &:hover {
    background-color: #3f3d5f;
  }
}

.sketch {
  &__more-btn {
    &-container {
      width: 32px;
      height: 32px;
      padding: 4px;
      border-radius: 4px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-button {
        all: unset;
      }

      &:hover,
      &.active {
        background-color: var(--color-gray--hover-2);
      }

      .menu {
        min-width: 150px;

        .item {
          color: var(--color-red-text);
        }
      }
    }
  }
}

.more-icon {
  fill: #000;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  transition: fill 0.1s ease-out;
}
