.tasks-page {
  padding-left: 0;
  padding-top: 12px;

  &__board {
    padding: 16px 24px 0px 24px;
  }
}

.add-task-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  // background-color: var(--color-skyblue);
  color: white;
  margin-left: 24px;
  margin-bottom: 12px;
  padding: 4px 10px;

  &:hover {
    // background-color: var(--color-skyblue);
  }
}

.tasks-header {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  padding-left: 20px;

  .tr {
    display: flex;
  }

  .th-content {
    padding: 8px 6px;
  }

  .th {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    &:hover {
      .resizer {
        visibility: visible;
      }
    }

    .resizer:hover {
      visibility: visible;
    }
  }

  .resizer {
    visibility: hidden;
    width: 8px;
    background-color: #698ef7;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    touch-action: none;

    &--isResizing {
      background-color: var(--color-skyblue);
      visibility: visible;
    }
    &:hover {
      cursor: col-resize;
    }

    &:active {
      cursor: ew-resize;
    }
  }
}

// Each row of task
// ! Add border to task-row
.task-row {
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray--hover);

    .task__drag {
      visibility: visible;
    }
  }
}

.task {
  display: flex;
  font-size: 14px;
  text-align: left;
  height: 40px;
  // border-bottom: 1px solid var(--color-border);

  // &:last-child {
  //   border-bottom: 1px solid var(--color-border);
  // }

  &:hover {
    cursor: pointer;
    // background-color: var(--color-gray--hover);

    &__drag {
      visibility: visible;
    }

    .task__empty-icon {
      visibility: visible;
    }

    .task__name-input {
      border: 1px solid var(--color-border);
    }
  }

  &__name {
    // display: "inline-grid";
    // align-items: "center";
    // justify-items: "center";
    &-input {
      font-size: 14px;
      width: auto;
      min-width: 1em;
      padding: unset;
      border: 1px solid transparent;
      border-radius: 2px;
      padding-left: 6px;

      &:hover {
        border: 1px solid #868e96 !important;
      }

      &:focus {
        border: 1px solid transparent !important;
      }
    }

    padding-left: 4px;
    // border-right: 1px solid var(--color-border);

    & > * {
      align-self: center;
    }
  }

  &__input-placeholder {
  }

  // &:hover &__drag {
  //   visibility: visible;
  // }

  &--active {
    background-color: #f1f4fc;

    &:hover {
      background-color: #f1f4fc;
    }
  }

  &__empty-icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px var(--color-gray-weak) dashed;
  }

  &__drag {
    flex: 0 0 20px;
    align-self: center;
    visibility: hidden;
    fill: #000;
    padding: 6px 4px 4px 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 12px;
      height: 12px;
      margin-bottom: 2px;
    }
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }

  &__cell {
    font-size: 12px;
    display: flex;
    padding-left: 4px;
    border-top: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    // border: 1px solid var ;
    &:hover {
      border: 1px solid #495057 !important;
      border-top: 1px solid #495057 !important;
      border-right: 1px solid #495057 !important;
    }

    & > * {
      align-self: center;
    }

    &:last-child {
      border-right: unset;
    }
  }

  &__priority {
    // &-icon {
    //   width: 16px;
    //   height: 16px;
    // }
    padding: 4px 6px;

    &--none {
      display: none;
      padding: 4px 4px;
      border-radius: 5px;
      background-color: #e8e8e8;
      color: #343a40;
    }
    &--low {
      padding: 4px 4px;
      border-radius: 5px;
      background-color: #3cac41;
      color: #103012;
    }
    &--medium {
      padding: 4px 4px;
      border-radius: 5px;
      background-color: #ec8d71;
      color: hsl(14, 32%, 24%);
    }
    &--high {
      padding: 4px 4px;
      border-radius: 5px;
      background-color: #f06a6a;
      color: hsl(0, 37%, 12%);
    }
  }
}

.edit-task-modal {
  padding: 16px;
}

.task-detail {
  color: #212529;

  &__icon {
    width: 24px;
    height: 24px;
  }

  .assignee {
    .data-selected {
      display: flex;
    }
  }

  // .data-selected {
  //   display: flex;

  .menu-button {
    display: flex;
    align-items: center;

    .data-selected__close {
      margin-left: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 6px;
      width: 28px;
      height: 28px;

      svg {
        width: 10px;
        height: 10px;
      }

      border-radius: 8px;
      &:hover {
        background-color: #ffffff;
        cursor: pointer;
      }
    }
  }

  //   &__closed {
  //     width: 24px;
  //     height: 24px;
  //   }
  // }

  .form {
    // font-size: 14px;
  }

  .name__input-placeholder {
    border: 1px solid transparent;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
      border: 1px solid var(--color-border);
    }
  }
  .name__input {
    width: 100%;
  }

  .due-date {
    .menu {
      input {
        background-color: #ffff;
        border: 1px solid var(--color-border);
        border-left: none;
        border-right: none;
        padding: 4px 8px;
      }
    }
  }

  &__header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .button {
      padding: 6px 18px;
      // font-size: 12px;
      color: #495057;
      background: #fefefe;
      border: 1px solid var(--color-border);
      transition: all 0.1s ease-out;
      &:hover {
        background: var(--color-primary--light);
        color: #fff;
      }
    }

    .actions {
      display: flex;

      & > * {
        border-radius: 6px;
      }

      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 32px;
        height: 32px;
        &:hover {
          background-color: var(--color-gray--hover);

          cursor: pointer;
        }
      }

      .close {
        margin-left: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        &:hover {
          background-color: var(--color-gray--hover);
          cursor: pointer;
        }

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;

    textarea {
      padding: 10px 10px;
      border: 1px transparent solid;
      width: 100%;
      border-radius: 8px;
      resize: vertical;
      min-height: 180px;
      margin-bottom: 12px;
      color: #5b6064;

      &:focus {
        border: 1px solid var(--color-primary--light);
        color: #343a40;
      }

      &:hover {
        border: 1px solid var(--color-primary--light);
      }
    }
  }

  &__modal {
  }
  &__aside {
  }
}

.add-task {
  color: var(--color-gray-weak);
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: left;
  padding-left: 28px;
  height: 40px;

  &:hover {
    color: #7a797a;
    cursor: pointer;
    background-color: #f1f2fc;
  }
}
