.tasks-page {
  &__board {
    padding: 16px 24px 0px 24px;
  }
}

.add-task-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  // background-color: var(--color-skyblue);
  color: white;
  margin-left: 24px;
  margin-bottom: 12px;
  padding: 4px 10px;

  &:hover {
    // background-color: var(--color-skyblue);
  }
}

.list-sections {
  .add-btn {
    margin-top: 16px;
  }
}

.tasks-header {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  padding-left: 20px;

  .tr {
    display: flex;
  }

  .th-content {
    padding: 8px 6px;
  }

  .th {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    &:hover {
      .resizer {
        visibility: visible;
      }
    }

    .resizer:hover {
      visibility: visible;
    }
  }

  .resizer {
    visibility: hidden;
    width: 8px;
    background-color: #698ef7;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    touch-action: none;

    &--isResizing {
      background-color: var(--color-skyblue);
      visibility: visible;
    }
    &:hover {
      cursor: col-resize;
    }

    &:active {
      cursor: ew-resize;
    }
  }
}

// Each row of task
// ! Add border to task-row
.task-row {
  display: flex;
  background-color: #fff;

  &:hover {
    // cursor: pointer;
    background-color: var(--color-gray--hover);

    .task__drag {
      visibility: visible;
    }
  }
}

.task {
  display: flex;
  font-size: 14px;
  text-align: left;
  height: 40px;
  // border-bottom: 1px solid var(--color-border);

  // &:last-child {
  //   border-bottom: 1px solid var(--color-border);
  // }

  &:hover {
    cursor: pointer;
    // background-color: var(--color-gray--hover);

    &__drag {
      visibility: visible;
    }

    .task__empty-icon {
      visibility: visible;
    }
  }

  &__name {
    // display: "inline-grid";
    // align-items: "center";
    // justify-items: "center";
    user-select: none;

    &-placeholder {
      font-size: 14px;
      padding-right: 8px;
    }

    &-input {
      font-size: 14px;
      width: 100%;
      padding-right: 24px;
      padding: unset;
      border: none;
      border-radius: 2px;

      &:hover {
        // border: 1px solid #868e96 !important;
      }
    }

    padding-left: 4px;
    // border-right: 1px solid var(--color-border);

    & > * {
      align-self: center;
    }
  }

  &__input-placeholder {
  }

  // &:hover &__drag {
  //   visibility: visible;
  // }

  &--active {
    background-color: #f1f4fc;

    &:hover {
      background-color: #f1f4fc;
    }
  }

  &__empty-icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px var(--color-gray-weak) dashed;
  }

  &__drag {
    flex: 0 0 20px;
    align-self: center;
    visibility: hidden;
    fill: #000;
    padding: 6px 4px 4px 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 12px;
      height: 12px;
      margin-bottom: 2px;
    }
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }

  &__cell {
    font-size: 12px;
    display: flex;
    padding-left: 4px;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid transparent;
    border-bottom: 1px solid var(--color-border);
    user-select: none;
    // border: 1px solid var ;
    &:hover {
      border: 1px solid #6d6d6d !important;
      border-top: 1px solid #6d6d6d !important;
      border-right: 1px solid #6d6d6d !important;

      border-right: 1px solid #6d6d6d !important;
      border-left: 1px solid #6d6d6d !important;
      border-bottom: 1px solid #6d6d6d !important;
    }

    & > * {
      align-self: center;
    }

    &:last-child {
      // border-right: unset;
    }

    &--empty {
      width: 100%;
      cursor: unset !important;
    }
  }

  &__priority {
    // &-icon {
    //   width: 16px;
    //   height: 16px;
    // }
    padding: 4px 6px;

    &--none {
      display: none;
      padding: 4px 12px;
      border-radius: 100px;
      background-color: #e8e8e8;
      color: #343a40;
    }
    &--low {
      padding: 4px 12px;
      border-radius: 100px;
      background-color: #3cac41;
      color: #103012;
    }
    &--medium {
      padding: 4px 12px;
      border-radius: 100px;
      background-color: #ec8d71;
      color: hsl(14, 32%, 24%);
    }
    &--high {
      padding: 4px 12px;
      border-radius: 100px;
      background-color: #f06a6a;
      color: hsl(0, 37%, 12%);
    }
  }
}

.task-detail {
  color: #000;
  .menu-button {
    display: flex;
    align-items: center;
  }

  .menu-button-container {
    display: flex;
    align-items: center;
  }

  .data-selected__close {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px;
    width: 28px;
    height: 28px;

    svg {
      width: 10px;
      height: 10px;
    }

    border-radius: 8px;
    &:hover {
      background-color: var(--color-gray--hover);
      cursor: pointer;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  .name {
    margin-top: 8px;
    font-size: 20px;

    &__input {
      font-size: 18px;
      padding: 4px 8px;
      border-radius: 8px;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid var(--color-border);
      }
      &-placeholder {
        font-weight: 600;
        padding: 0 8px;
      }
    }
  }

  .name__input-placeholder {
    border: 1px solid transparent;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
      border: 1px solid var(--color-border);
    }
  }
  .name__input {
    width: 100%;
  }

  .due-date {
    .menu {
      padding: 8px 12px;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    .button {
      padding: 6px 18px;
      // font-size: 12px;
      color: #495057;
      background: #fefefe;
      border: 1px solid var(--color-border);
      transition: background 0.1s ease-out, background-color 0.1s ease-out;
      // margin-bottom: 8px;
      &:hover {
        background-color: var(--color-primary--light);
        color: #fff;
      }

      &.active {
        background-color: var(--color-primary--light);
        color: #fff !important;

        &:hover {
          background-color: #fefefe;
          transition: background 0.1s ease-out, background-color 0.1s ease-out;
          color: #495057 !important;
        }
      }
    }

    .actions {
      display: flex;

      & > * {
        border-radius: 6px;
      }

      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 32px;
        height: 32px;
        &:hover {
          background-color: var(--color-gray--hover);

          cursor: pointer;
        }
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        &:hover {
          background-color: var(--color-gray--hover);
          cursor: pointer;
        }

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;

    textarea {
      font-size: 16px;
      padding: 10px 10px;
      border: 1px transparent solid;
      width: 100%;
      border-radius: 8px;
      resize: vertical;
      min-height: 180px;
      margin-bottom: 12px;
      color: #5b6064;
      margin-left: -10px;
      resize: none;

      &:focus {
        border: 1px solid var(--color-primary--light);
        color: #343a40;
      }

      &:hover {
        border: 1px solid var(--color-primary--light);
      }
    }
  }

  &__modal {
  }
  &__aside {
  }

  label {
    font-size: 14px;
  }

  .form {
    .section {
      display: flex;
      gap: 8px;
      width: 100%;
      label {
        flex-basis: 120px;
      }

      // .menu-button {
      //   flex: 1;
      // }
    }
  }

  .data-selected {
    display: flex;
    align-items: center;
    padding: 6px 10px 6px 12px;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      // background-color: var(--color-gray--hover-2);
    }
    & * {
      cursor: pointer;
    }

    &--dueDate {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 6px 10px 6px 12px;
      border-radius: 8px;
      border: 1px solid var(--color-border);
    }

    // &--projects {
    //   .menu {
    //     min-width: 200px;
    //     max-width: 350px;
    //     background-color:#212529;
    //     border-radius: 6px;
    //     position: absolute;
    //     top: 105%;
    //     border: 1px solid var(--color-border);
    //     padding: 4px 0;
    //     z-index: 99999;
    //     color: #212529;
    //     font-weight: 500;
    //   }
    // }
  }

  .status-button {
    // background-color: #3cac41;
    border: 1px solid var(--color-border);
    font-size: 14px;
    display: flex;
    gap: 4px;
    // color: #343a40;
    transition: 0.2s color ease-in, 0.2s background-color ease-in;
    padding: 6px 18px !important;
    .icon {
      flex-shrink: 0;
      // visibility: hidden;
      width: 14px;
      // height: 14px;
      rotate: 90deg;
      stroke: #343a40;
      stroke-width: 0.5px;
    }

    &--done {
      background-color: var(--color-green--light);
      color: #dee2e6;

      .done-icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      &:hover {
        color: #fff !important;
      }
    }

    .sidebar__color-icon {
    }

    &:hover {
      visibility: visible;
      color: #000;
      border: 1px solid #a1a1a1;
    }
  }

  .assignee {
    display: flex;

    .menu {
      min-width: 300px;

      .item {
        display: flex;
        gap: 8px;
        @include showEllipsis;

        &__email {
          color: #343a40;
        }
      }
    }

    .task__assignee-btn {
      padding: 6px 12px;
      border-radius: 6px;
      .assignee-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #868e96;

        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 8px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.change-date-menu {
  // padding: 8px;
  // height: 250px;
  .date-picker {
    border: 1px solid red !important;
    border-radius: 6px;
    padding: 4px 12px;
  }

  .react-datepicker {
    font-family: "Poppins", sans-serif !important;
    border: none !important;

    &__current-month {
      font-weight: 600;
    }
  }

  .react-datepicker__month-container {
    .react-datepicker__header {
      background-color: white;
    }
  }
}

.add-task {
  color: var(--color-gray-weak);
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: left;
  padding-left: 28px;
  height: 40px;

  &:hover {
    color: #7a797a;
    cursor: pointer;
    background-color: #f1f2fc;
  }
}
