$primary: "#438F5F";
$secondary: "#519643";
$header-text: "#fafafa";
$github-btn-color: "#333333";
$github-btn-hover: "#111111";
$button: "#438F5F";
$buttonHover: "#50ab72";
$buttonActive: "#4d8f43";
