// CSS Resets
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Allow percentage-based heights in the application

html,
body {
  height: 100%;
  // overflow-y: auto;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5%
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

// Gets rid of buttons from number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="text"],
textarea {
  outline: none;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.layout {
  display: flex;
  width: 100%;
  height: 100%;
}

// Scrollbar
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  // border-radius: 10px;
}
