@font-face {
  font-family: "Courier New", sans-serif;
  src: url("../fonts/Courier\ New.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
}
